
.butt{
	background-color:#f4f4f4;
	background-image:linear-gradient(to bottom, #fbfbfb, #e9e9e9);
	background-repeat:repeat-x;
	cursor:pointer;
	margin:0 7px 0 0;
	border:1px solid #ccc;
	border-radius:6px;
	box-sizing:border-box;
	color:#333 !important;
	display:inline-block;
	height:auto;
	padding:4px 8px;
	text-shadow:1px 1px 0 #fff;
	white-space:nowrap;
}
.ui-sortable-helper{
	display:table;
}
.s_item{
	cursor:move;
}